header {
  background: white; }
  header .upper h1 {
    float: left;
    width: 300px; }
  header .upper .navi-list {
    float: right;
    width: calc(100% - 300px);
    text-align: right; }
    header .upper .navi-list li {
      display: inline-block;
      margin-right: 20px; }
      header .upper .navi-list li a {
        padding: 20px 0;
        display: block; }
  header .lower nav ul {
    display: table;
    table-layout: fixed;
    width: 100%; }
    header .lower nav ul li {
      display: table-cell;
      box-shadow: 0 0 1px #aaa; }
      header .lower nav ul li a {
        padding: 20px; }
